USE [master]
GO
/****** Object:  Database [SistemaAirCenter]    Script Date: 06/12/2019 08:25:07 a. m. ******/
CREATE DATABASE [SistemaAirCenter]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SistemaAirCenter', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SistemaAirCenter.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SistemaAirCenter_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SistemaAirCenter_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SistemaAirCenter].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SistemaAirCenter]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 06/12/2019 08:25:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[idClient] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_Clients] PRIMARY KEY CLUSTERED 
(
	[idClient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Documents]    Script Date: 06/12/2019 08:25:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Documents](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[description] [varchar](50) NOT NULL,
	[idClient] [int] NOT NULL,
	[dataFile] [varbinary](max) NOT NULL,
	[active] [bit] NOT NULL,
	[date] [datetime] NOT NULL,
 CONSTRAINT [PK_Documents] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 06/12/2019 08:25:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissions](
	[idPermission] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](20) NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_Permissions] PRIMARY KEY CLUSTERED 
(
	[idPermission] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 06/12/2019 08:25:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[price] [money] NOT NULL,
	[active] [bit] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quotations]    Script Date: 06/12/2019 08:25:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quotations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[idClient] [int] NOT NULL,
	[total] [money] NOT NULL,
	[active] [bit] NOT NULL,
	[sold] [bit] NOT NULL,
	[date] [datetime] NOT NULL,
 CONSTRAINT [PK_Quotations] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuotationsDocuments]    Script Date: 06/12/2019 08:25:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuotationsDocuments](
	[idQuotation] [int] NOT NULL,
	[idDocument] [int] NOT NULL,
 CONSTRAINT [PK_QuotationsDocuments] PRIMARY KEY CLUSTERED 
(
	[idQuotation] ASC,
	[idDocument] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuotationsProducts]    Script Date: 06/12/2019 08:25:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuotationsProducts](
	[idQuotation] [int] NOT NULL,
	[idProduct] [int] NOT NULL,
	[price] [money] NOT NULL,
	[quantity] [money] NOT NULL,
	[row] [int] NOT NULL,
 CONSTRAINT [PK_QuotationsProducts] PRIMARY KEY CLUSTERED 
(
	[idQuotation] ASC,
	[idProduct] ASC,
	[row] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 06/12/2019 08:25:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[idRole] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[idRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolesPermissions]    Script Date: 06/12/2019 08:25:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolesPermissions](
	[idRole] [int] NOT NULL,
	[idPermission] [int] NOT NULL,
 CONSTRAINT [PK_RolesPermissions] PRIMARY KEY CLUSTERED 
(
	[idRole] ASC,
	[idPermission] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 06/12/2019 08:25:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[idUser] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[password] [varchar](25) NOT NULL,
	[user] [varchar](50) NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[idUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsersRoles]    Script Date: 06/12/2019 08:25:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersRoles](
	[idUser] [int] NOT NULL,
	[idRole] [int] NOT NULL,
 CONSTRAINT [PK_UsersRoles] PRIMARY KEY CLUSTERED 
(
	[idUser] ASC,
	[idRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([idClient], [name], [status]) VALUES (1, N'pedro picapiedra', 1)
INSERT [dbo].[Clients] ([idClient], [name], [status]) VALUES (2, N'pancho villa', 1)
SET IDENTITY_INSERT [dbo].[Clients] OFF
SET IDENTITY_INSERT [dbo].[Documents] ON 

SET IDENTITY_INSERT [dbo].[Documents] OFF
SET IDENTITY_INSERT [dbo].[Permissions] ON 

INSERT [dbo].[Permissions] ([idPermission], [name], [status]) VALUES (1, N'Usuarios', 1)
INSERT [dbo].[Permissions] ([idPermission], [name], [status]) VALUES (2, N'Roles', 1)
INSERT [dbo].[Permissions] ([idPermission], [name], [status]) VALUES (3, N'Productos', 1)
SET IDENTITY_INSERT [dbo].[Permissions] OFF
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([id], [name], [price], [active]) VALUES (1, N'panel 1.5', 100.0000, 1)
INSERT [dbo].[Products] ([id], [name], [price], [active]) VALUES (2, N'panel 2x2', 500.5000, 1)
SET IDENTITY_INSERT [dbo].[Products] OFF
SET IDENTITY_INSERT [dbo].[Quotations] ON 

INSERT [dbo].[Quotations] ([id], [name], [idClient], [total], [active], [sold], [date]) VALUES (1, N'prueba', 1, 0.0000, 1, 1, CAST(N'2019-12-06T06:54:32.917' AS DateTime))
INSERT [dbo].[Quotations] ([id], [name], [idClient], [total], [active], [sold], [date]) VALUES (2, N'prueba 2', 2, 1001.0000, 1, 0, CAST(N'2019-12-06T07:03:21.540' AS DateTime))
SET IDENTITY_INSERT [dbo].[Quotations] OFF
INSERT [dbo].[QuotationsDocuments] ([idQuotation], [idDocument]) VALUES (1, 1)
INSERT [dbo].[QuotationsDocuments] ([idQuotation], [idDocument]) VALUES (1, 2)
INSERT [dbo].[QuotationsDocuments] ([idQuotation], [idDocument]) VALUES (2, 1)
INSERT [dbo].[QuotationsProducts] ([idQuotation], [idProduct], [price], [quantity], [row]) VALUES (1, 1, 100.0000, 1.0000, 1)
INSERT [dbo].[QuotationsProducts] ([idQuotation], [idProduct], [price], [quantity], [row]) VALUES (1, 2, 500.5000, 1.0000, 2)
INSERT [dbo].[QuotationsProducts] ([idQuotation], [idProduct], [price], [quantity], [row]) VALUES (2, 2, 500.5000, 1.0000, 1)
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([idRole], [name], [status]) VALUES (1, N'Administrador', 1)
INSERT [dbo].[Roles] ([idRole], [name], [status]) VALUES (2, N'Capturista', 1)
INSERT [dbo].[Roles] ([idRole], [name], [status]) VALUES (3, N'prueba2', 0)
SET IDENTITY_INSERT [dbo].[Roles] OFF
INSERT [dbo].[RolesPermissions] ([idRole], [idPermission]) VALUES (1, 1)
INSERT [dbo].[RolesPermissions] ([idRole], [idPermission]) VALUES (1, 2)
INSERT [dbo].[RolesPermissions] ([idRole], [idPermission]) VALUES (1, 3)
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([idUser], [name], [password], [user], [status]) VALUES (1, N'Administrador', N'a', N'admin', 1)
INSERT [dbo].[Users] ([idUser], [name], [password], [user], [status]) VALUES (2, N'paul', N'1', N'paul', 1)
INSERT [dbo].[Users] ([idUser], [name], [password], [user], [status]) VALUES (3, N'Ruben', N'a', N'Ruben', 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
INSERT [dbo].[UsersRoles] ([idUser], [idRole]) VALUES (1, 1)
INSERT [dbo].[UsersRoles] ([idUser], [idRole]) VALUES (2, 2)
INSERT [dbo].[UsersRoles] ([idUser], [idRole]) VALUES (3, 1)
ALTER TABLE [dbo].[Documents]  WITH CHECK ADD  CONSTRAINT [FK_Documents_Clients] FOREIGN KEY([idClient])
REFERENCES [dbo].[Clients] ([idClient])
GO
ALTER TABLE [dbo].[Documents] CHECK CONSTRAINT [FK_Documents_Clients]
GO
ALTER TABLE [dbo].[Quotations]  WITH CHECK ADD  CONSTRAINT [FK_Quotations_Clients] FOREIGN KEY([idClient])
REFERENCES [dbo].[Clients] ([idClient])
GO
ALTER TABLE [dbo].[Quotations] CHECK CONSTRAINT [FK_Quotations_Clients]
GO
ALTER TABLE [dbo].[QuotationsDocuments]  WITH CHECK ADD  CONSTRAINT [FK_QuotationsDocuments_Documents] FOREIGN KEY([idDocument])
REFERENCES [dbo].[Documents] ([id])
GO
ALTER TABLE [dbo].[QuotationsDocuments] CHECK CONSTRAINT [FK_QuotationsDocuments_Documents]
GO
ALTER TABLE [dbo].[QuotationsDocuments]  WITH CHECK ADD  CONSTRAINT [FK_QuotationsDocuments_Quotations] FOREIGN KEY([idQuotation])
REFERENCES [dbo].[Quotations] ([id])
GO
ALTER TABLE [dbo].[QuotationsDocuments] CHECK CONSTRAINT [FK_QuotationsDocuments_Quotations]
GO
ALTER TABLE [dbo].[QuotationsProducts]  WITH CHECK ADD  CONSTRAINT [FK_QuotationsProducts_Products] FOREIGN KEY([idProduct])
REFERENCES [dbo].[Products] ([id])
GO
ALTER TABLE [dbo].[QuotationsProducts] CHECK CONSTRAINT [FK_QuotationsProducts_Products]
GO
ALTER TABLE [dbo].[QuotationsProducts]  WITH CHECK ADD  CONSTRAINT [FK_QuotationsProducts_Quotations] FOREIGN KEY([idQuotation])
REFERENCES [dbo].[Quotations] ([id])
GO
ALTER TABLE [dbo].[QuotationsProducts] CHECK CONSTRAINT [FK_QuotationsProducts_Quotations]
GO
ALTER TABLE [dbo].[RolesPermissions]  WITH CHECK ADD  CONSTRAINT [FK_RolesPermissions_Permissions] FOREIGN KEY([idPermission])
REFERENCES [dbo].[Permissions] ([idPermission])
GO
ALTER TABLE [dbo].[RolesPermissions] CHECK CONSTRAINT [FK_RolesPermissions_Permissions]
GO
ALTER TABLE [dbo].[RolesPermissions]  WITH CHECK ADD  CONSTRAINT [FK_RolesPermissions_Roles] FOREIGN KEY([idRole])
REFERENCES [dbo].[Roles] ([idRole])
GO
ALTER TABLE [dbo].[RolesPermissions] CHECK CONSTRAINT [FK_RolesPermissions_Roles]
GO
ALTER TABLE [dbo].[UsersRoles]  WITH CHECK ADD  CONSTRAINT [FK_UsersRoles_Role] FOREIGN KEY([idRole])
REFERENCES [dbo].[Roles] ([idRole])
GO
ALTER TABLE [dbo].[UsersRoles] CHECK CONSTRAINT [FK_UsersRoles_Role]
GO
ALTER TABLE [dbo].[UsersRoles]  WITH CHECK ADD  CONSTRAINT [FK_UsersRoles_Users] FOREIGN KEY([idUser])
REFERENCES [dbo].[Users] ([idUser])
GO
ALTER TABLE [dbo].[UsersRoles] CHECK CONSTRAINT [FK_UsersRoles_Users]
GO
USE [master]
GO
